<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css" />

  <script src="js/draggabilly.pkgd.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/json2/json2.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="js/backbone.localStorage.js"></script>

  <script src="js/namespaces.js"></script>
  <script src="js/models/Sticker.js"></script>
  <script src="js/collections/Stickers.js"></script>
  <script src="js/views/Sticker.js"></script>
  <script src="js/views/Stickers.js"></script>
  <script src="js/init.js"></script>
</head>
<body>
  <div class="wrapper">
    <div id="stickersBoard"></div>
  </div>

  <script type="text/template" id="stickerTmpl">
    <span class="sticker-title"><%= title %></span>
    <input class="sticker-title-edit" type="text" maxlength="7" value="<%= title %>" />
    <p class="sticker-text"><%= text %></p>
    <textarea class="sticker-text-edit" maxlength="64"><%= text %></textarea>
  </script>

  <p>Left click to add new sticker</p>
  <p>Right click on any sticker to remove it</p>
  <p>Double click on text to edit it</p>
  <p>Also you can drag stickers</p>
</body>
</html>